/* Styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(14, 7, 29);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  margin:0;
}

/* Conteneur principal */
.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  
}

/* Titre */
h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* Formulaire */
form {
  display: flex;
  flex-direction: column;

}

label {
  text-align: left;
  font-size: 14px;
  margin: 5px 0 5px;
  font-weight: 500;
  display: block;
}

/* Champs de saisie */
input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus {
  background: rgba(255, 255, 255, 0.3);
}

/* Boutons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.submit-btn {
  background: rgb(16, 176, 126);
  color: white;
}

.submit-btn:hover {
  background: rgb(4, 131, 90);
}

.reset-btn {
  background: #ff4c4c;
  color: white;
}

.reset-btn:hover {
  background: #c23333;
}
.danger {
  color: #ff4c4c;
  font-size: 14px;
  margin-top: 10px;
}
.success {
  color: #16b07e;
  font-size: 14px;
  margin-top: 10px;
}